!!!
%html
  %body
    %h1
      This is all users:
    %ul
      - users.each do |user|
        %li= user
    %form{:action => "/users/new"}
      %input{:type => "submit", :value => "Add new users"}/
